.articleContainer{
    background-color: #fff;
    margin-top: 10px;
    border-radius: 10px;
}

.articleRow{
    margin-left: 10px;
    padding: 10px;
}

.pdfLink{
    color: #007bff;
}

.details{
    color: #585858;
}

.articleTitle{
    color: #DBA901;
}

.pdfItem:hover, .pdfLink:hover{
    background-color: #81DAF5;
    color: #0A122A;
}

